.application-read-section {
    width: 100%;
    .position-wrapper{
        position: relative;
        width: 100%;
        height: 250px;
        background-image : url('../assets/images/children.jpg');
        background-size: 100% auto;
        .background {
            display: flex;
            position: absolute;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }
        p.main-slogan {
            font-size: 24px;
            color: white;
            font-weight: 500;
        }
        p.main-p {
            margin-top: 30px;
            font-size: 45px;
            color: white;
            font-weight: 500;
        }
    }
    article {
        width: 1160px;
        box-sizing: border-box;
        margin: auto;
        background: white;
        padding: 20px;
        .header {
            h1 {
                font-size: 25px;
                font-weight: 600;
                line-height: 25px;
            }
            h2 {
                text-align: right;
                font-size: 14px;
                color: #ff3333;
            }
            margin: 20px 0;
        }
        .body {
            .form-group {
                margin-bottom: 25px;
                h2 {
                    width: 100%;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 40px;
                }
                .row {
                    display: flex;
                    flex-direction: row;
                    .input-wrapper {
                        flex: 1;
                    }
                }
                .input-wrapper {
                    display: flex;
                    margin-bottom: 10px;
                    flex-direction: column;
                    > label {
                        display: flex;
                        align-items: center;
                        flex: 1;
                        font-size: 18px;
                        font-weight: 500;
                        color: #2d436e;
                        margin-bottom: 5px;
                    }
                    .form-control {
                        display: flex;
                        align-items: center;
                        flex: 4;
                        min-height: 40px;
                        input[type=date],
                        input[type=time],
                        input[type=text],
                        input[type=number],
                        select {
                            height: 40px;
                            width: 300px;
                            box-sizing: border-box;
                            border-radius: 3px;
                            border: 1px solid #757575;
                            padding: 10px;
                            font-size: 18px;
                            background: white;
                            outline: 0;
                        }
                        input[type=date] {
                            width: 220px;
                        }
                        input[type=time] {
                            width: 150px;
                            margin-left: 10px;
                        }

                        input[type=radio] {
                            display: none;
                            +label {
                                width: 60px;
                                line-height: 30px;
                            }
                            +label:before {
                                vertical-align: -5%;
                                margin-right: 10px;
                                display: inline-block;
                                content: "";
                                width: 15px;
                                height: 15px;
                                border-radius: 10px;
                                box-sizing: border-box;
                                border: 2px solid #2d436e;
                            }
                        }
                        input[type=radio]:checked {
                            +label::before{
                                background: #2d436e;
                            }
                        }
                    }
                    .form-control.age-wrapper {
                        input[type=number] {
                            width: 3em;
                            text-align: right;
                        }
                        span {
                            margin: 0 10px;
                        }
                    }
                    + .address-wrapper {
                        label {
                            align-items: flex-start;
                            padding-top: 15px;
                        }
                        .form-control {
                            flex-direction: column;
                            align-items: flex-start;
                            input[type=text] {
                                display: block;
                                width: 80%;
                            }
                            input[type=text]:first-child {
                                margin-bottom: 5px;
                            }
                        }
                    }
                    + .participants-wrapper {
                        input[type=number] {
                            width: 3em;
                        }
                        span {
                            margin:0 10px;
                        }
                    }
                    .notfiy {
                        font-size: 10px !important;
                    }
                }
                
                .requirements-wrapper,
                .contents-wrapper {
                    margin-bottom: 30px;
                    > label {
                        align-items: start;
                        padding-top: 10px;
                    }
                }
                textarea {
                    width: 750px;
                    padding: 15px;
                    box-sizing: border-box;
                    outline: 0;
                    border: 1px solid #757575;
                    border-radius: 3px;
                    font-size: 16px;
                }
            }
        }
        .btns-wrapper {
            display: flex;
            justify-content: center;
            button {
                width: 200px;
                height: 50px;
                margin: 10px;
                border: 0;
                border-radius: 3px;
                background:white;
                font-size: 18px;
                outline: none;
                cursor: pointer;
            }
            .btn-submit {
                color: white;
                background: #8dc63f;
            }
            .btn-submit:active {
                background: #81af41;
            }
            .btn-cancle {
                color: white;
                background: #a0a0a0;
            }
            .btn-cancle:active {
                background: #909090;
            }
        }
    }
}
